* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  text-decoration: none;
  list-style: none;
}

body {
  padding: 20px;
}

section {
  text-align: center;
  margin-bottom: 60px;
}

table {
  margin: 0 auto;
  border-collapse: collapse;
}
tbody {
  text-align: center;
}
caption {
  font-weight: bold;
  font-size: 20px;
  color: #434343;
  margin-bottom: 5px;
}

#semester-table th,
#semester-table td {
  border: 1px solid lightgrey;
  padding: 15px 20px;
}
#semester-table th:first-child {
  border-top-left-radius: 10px;
}
#semester-table th:last-child {
  border-top-right-radius: 10px;
}
#semester-table td {
  color: grey;
}
#semester-table thead {
  background-color: #2a64f6;
  color: #fff;
}
#semester-table {
  border-collapse: collapse;
  border-radius: 10px;
  border-style: hidden;
  box-shadow: 0 0 0 1px lightgrey;
}

.course {
  color: #2a64f6;
  font-weight: bold;
}

.bottom-text {
  margin-top: 5px;
}

#product-table {
  border-collapse: collapse;
}
#product-table th,
#product-table td {
  border: 1px solid #6f7f97;
  padding: 15px 30px;
}
#product-table th {
  background-color: #a0bbf2;
}
#product-table tr:nth-child(odd) {
  background-color: #d1e0ff;
}
#product-table tr:nth-child(even) {
  background-color: #b3c8f5;
}
#product-table th:first-child {
  border-top-color: #fff;
  border-left-color: #fff;
  background-color: #fff;
}
#product-table tr > td:first-child {
  font-weight: bold;
  text-align: left;
  padding-right: 100px;
}

#day6-table th,
#day6-table td {
  border: 1.5px solid #78a6ab;
  padding: 20px 40px;
}

#day6-table th {
  background-color: #78a6ab;
  color: #fff;
}

#day6-table td {
  color: #78a6ab;
  font-weight: bold;
  font-size: 20px;
}
